:root{
  --primary-color:black;
  --secondary-color:tan;
  --active-color:aqua;
}
body{
  background-color: tan;
  padding: 0%;
  border: 0%;
  margin: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

